<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Welcome to QuotingDojo</h1>
<form action="/process" method="post">
	Your name: <input type="text" name="name"><br><br>
	Your quote: <textarea rows="10" cols="10" name="quotes"></textarea><br><br>
	<input type="submit" name="submit" value="add my quote!"><br><br>
</form>
<form action="/quotes" method="get">
	<input type="submit" name="submit" value="Skip to quotes!"><br><br>
</form>
</body>
</html>
