*{
    margin: 0;
    padding: 0;
}

body{
    background: black;
    border: 5px solid grey;
    color: white;    
}

h1{
    color: orange;
    text-shadow: 2px 2px red;
}


.wrapper{
    margin: 15% auto 0;
    width: 300px;
    border: 1px solid black;
    background: grey;
    padding: 50px;
    text-align: center;
}

.secmenu{
    display: none;
}

#player1{
    position: absolute;
    left: 0;
    bottom: 0;
}
#player2{
    position: absolute;
    right: 0;
    bottom: 0;
}

button {
    width: 120px;
}

select{
    margin: 20px auto 0;
}