<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Portfolio!</title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
 <body>
     <a href="/projects">Project</a><br>
     <a href="/contact">Contact</a><br>
     <img src="~/images/aboutme.png"/>
     <marquee class="about">Hello, my name is Ekta.</marquee>
     <marquee class="about">I am attending Coding Dojo to become a Full Stack Developer.Hopefully, I will be graduating in 3 weeks.</marquee>
 </body>
</html>