<!DOCTYPE html>
<html>
<head>
	<title>Courses</title>
</head>
<body>
<h1>Add a New Course</h1>
<form action="/create" method="post">
	{% csrf_token %}
	Name: <input type="text" name="name"><br>
	Description: <input type="text" name="description"><br>
	<input type="submit" name="submit" value="submit!"><br>
</form>
<table>
	<tr>
		<th>Course Name</th>
		<th>Description</th>
		<th>Date Added</th>
		<th>Actions</th>
	</tr>
	 {% for course in all_courses %}
	<tr>
		<td>{{ course.name }}</td>
		<td>{{ course.description }}</td>
		<td>{{ course.created_at }}</td>
		<td><a href="/remove/{{course.id}}">remove</a></td>
	</tr>
{% endfor %}
</table>
</body>
</html>

<style>
</style>
