<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Random Passcode</title>
</head>
<body>
    <p>Random passcode(passcode #@ViewBag.count)</p>
    <h1>@ViewBag.passcode</h1>
    <a href="/"><button>Generate</button></a>
</body>
</html>