<h1>Lost in the Woods</h1>
<p>List of local hiking trails</p>
<table class="table table-sm table-inverse"> 
    <tr>
        <th>Trail Name</th>
        <th>Trail Length</th>
        <th>Elavation Change</th>
    </tr>
        @foreach(var trail in  @ViewBag.Trails)
        {
    <tr>
        <td><a href="/Trail/@trail.id">@trail.trail_name</a></td>
        <td>@trail.trail_length</td>
        <td>@trail.elavation_change</td>
    </tr>
        }
</table>
<a class="btn btn-primary" href="/NewTrail">Add a new Trail</a>






