<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<h1>Hi, I'm Ekta</h1>
<h5>Welcome to My Portfolio</h5>
<a href="/project">Project</a>
<p>I have a variety of projects both personal and contract.They are built using Python, swift, and javascript.</p>
<a href="/about">About Me</a>
<p>I have a variety of projects both personal and contract.They are built using Python, swift, and javascript.</p>
<a href="/testi">Testmonials</a>
<p>I have a variety of projects both personal and contract.They are built using Python, swift, and javascript.</p>
</body>
</html>


