*{
    width:0px;
    padding:0px;
}

#wrapper{
    width:850px;
    height: 850px;
    margin:40px;
    background-color: red;
}
.main{
    width: 350px;
    padding: 75px;
    background-color: whitesmoke;
    color:#000033;
}
h4{
    display: inline-block;
    width: 150px;
}
.results h4{
    margin-top:4px;
    margin-bottom:4px;
}

input, select{
    display: inline-block;
    width: 150px;
}
#txtArea{
    width:300px;
    height:100px;
}