<!DOCTYPE html>
<html>
<head>
	<title>Survey Form</title>
</head>
<body>
	<form action="/result" method="post">
	Your name:<input type="text" name="name"><br><br>
	Dojo Location:<select name="location"><br><br>
		<option>California</option>
		<option>Bellevue</option>
		<option>Mountain View</option>
		<option>Texas</option>
	</select><br><br>
	Favorite Language:<select name="Language">
		<option>JavaScript</option>
		<option>CSS</option>
		<option>MEAN</option>
		<option>Python</option>
	</select><br><br>
	Comment:<textarea name="comment" cols="10"></textarea><br><br>
	<input type="submit" name="submit">
	</form>
</body>
</html>