<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Hello, {{firstname}} </h1>
<form action="/create" method="post">
	{% csrf_token %}
<input type="text" name="descripiton">
<input type="submit" name="post" value="Post"><br>
</form>

<a href="/logout">Logout</a>
<a href="/popular">Top Ten Secrets</a>
<h1>Recent Secrets</h1>
{% for i in secrets %}
<p>{{ i.secret  }}</p>
<a href="/like/{{i.id}}">Like</a>
{{i.mlikes.count}}
{% if i.register_id == current_user_id %}
	<a href="/delete/{{i.id}}">Delete</a>
{% endif%}
{% endfor %}
</body>
</html>